<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_qiantai :: head(~{:: title})">
    <meta charset="UTF-8">
    <!--首先完成移动端的预览设置问题,设备的宽度初始缩放倍数为1.0倍，这里还可以设置用户禁止缩放等等-->
    <meta name="viewport" content="device-width,initial-scale=1.0">
    <title>关于我</title>
    <!--接下来进行semanticUI的css CDN的引用-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!--引入我们自己写的css-->
    <link rel="stylesheet" href="../static/css/me.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

<!--导航栏-->
<nav th:replace="_qiantai :: menu(7)" class="ui attached segment m-padded-tb-mini m-shadow-small">



</nav>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<!--中部主体-->
<div class="m-container-small m-padded-tb-big ">
   <div class="ui container">

   </div>
</div>



<footer th:replace="_qiantai :: footer" class="ui inverted vertical segment m-padded-tb-massive">



</footer>


<!--也许用到的jQuery的引用-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--这里进行semanticUI的js 的CDN的引用 -->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>


</script>
</body>
</html>